<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"well"}) do |f| %>
		  <%= devise_error_messages! %>
		  <legend>Forgot your password?</legend>	
		  
		  <%= f.input :email %>

		  <%= f.button :submit, "Send me reset password instructions" %>
		<% end %>
		<div class="span4">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>